name: Static-Analysis

on: pull_request

jobs:
  static_analysis:
    name: Static analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup JDK 1.8
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 1.8

      - name: Check code smells
        run: ./gradlew detekt
  
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Project Checkout
        uses: actions/checkout@v2.3.4

      - name: Run unit tests 
        run: ./gradlew test
